ckiptagger
gdown
gensim
huggingface-hub
jieba
jupyter
keras
matplotlib
nltk
numpy
pandas
pyLDAvis
scikit-learn
scipy
seaborn
snownlp
stanza
tensorflow
textblob
torch
vaderSentiment
wordcloud
sentence-transformers
thinc
shap
bertopic
git+https://github.com/Text-Analytics-and-Retrieval/GuidedLDA.git#egg=GuidedLDA
git+https://github.com/trinker/sentimentpy